<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Form</title>
  <link rel="stylesheet" href="..\static\css\forma.css">
  <!-- <link rel="stylesheet" href="./css/style.css"> -->
</head>
<body>
  <a href="index.html" class="strelka"><img src="..\static\img\strelkaNazad.png" height="30px" title="Вернуться"></a>
  <form class="form" action="lk.html">
    <h1 class="form__title">Вход</h1>

    <div class="form__group">
      <input type="login" class="form__input" placeholder=" "> 
      <label class="form__label">Login</label>
    </div>

    <div class="form__group">
      <input type="password" class="form__input" placeholder=" "> 
      <label class="form__label">Password</label>
    </div>
    
    
      <div class="block_buttons">
        <button type="submit" class="form__button1" name="submitbtn" value="subm">Войти</button>
      </div>

  </form>
  <footer>
    
  </footer>
</body>
</html>